body {
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 98vw;
}

#navbar li {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}

#navbar li a {
    text-decoration: none;
    color: black;
}

#navbar li a:hover {
    text-decoration: underline;
    color: blue;
}

#welcome {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 400%;
}

#time {
    margin-left: 30px;
}

.title {
    text-align: center;
    font-size: 400%;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    gap: 80px 120px;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    height: 200px;
    width: 200px;
    object-fit: cover; /* Crop instead of squeeze */
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
}

.container img {
    height: 400px;
    width: auto;
}

.container p {
    font-size: 20px;
}

#form {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"] {
    width: 100%;
}

footer {
    margin-top: 100px;
    text-align: center;
}