{% extends "base.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register", method="post">
        <input type="text" name="name" placeholder="Name" required> <!-- Client side validation -->
        <select name="sport" required>
            <option disabled value="">Sport</option>
            {% for sport in sports %}
                <input type="radio" value="{{ sport }}">{{ sport }}</input>
            {% endfor %}
        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}